<!-- 
   file; footer.ejs
   author; Josh Mineiro
   website; http://comp2068-midterm-jm.azurewebsites.net
   description; footer partial injected into .ejs templates
-->

    <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>