<% include partials/header.ejs %>
    <% include partials/navbar.ejs %>
        <main class="container">
            <h1><%= title %> Page</h1>
            <form>
                <div class="form-group">
                    <label for="userName">Name</label>
                    <input type="text" id="userName" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label for="userEmail">Email address</label>
                    <input type="email" class="form-control" id="userEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="comments">Comments</label>
                    <input type="text" id="comments" placeholder="Put your comments here." />
                </div>
                <button type="submit" class="btn btn-default">
                    <a href="/landing">Submit</a>
                </button>
            </form>
        </main>
        <% include partials/footer.ejs %>